/*
文件说明：IE过滤广告样式表
使用方法：打开IE的“Internet选项”，点击“辅助功能”，勾选“使用样式表”，选中此样式表，确定。
更新时间：2016-5-14
更新网址：http://bbs.pcbeta.com/viewthread-791980-1-1.html
作者微博：http://weibo.com/flyskyz
*/
/* 新浪微博 weibo.com */
.weibo-ad,
#v6_pl_content_biztips,
[id^="v6_pl_rightmod_ads"]
{display:none !important}
/* 互联星空 vnet.cn */
[src*="vnet.cn"]
{display:none !important}
/* 118114.cn */
[src*="118114.cn"]
{display:none !important}
/* 中国电信 ct10000.com */
[src*="ct10000.com"]
{display:none !important}
/* doubleclick.net */
.center .ad,
a[href*="doubleclick.net"],
[src*="doubleclick.net"]
{display:none !important}
/* Discuz!论坛 */
#nv_forum #FlashShow,
#nv_forum a[href^="http://s.click.taobao.com/t?"],
#nv_forum a[href*="microsoftstore.com.cn"],
#nv_forum .a_pt,
#nv_forum [id^="diy"],
#nv_forum [class^="a_"],
#nv_forum [class*=" a_"]
{display:none !important}
/* 阿里妈妈 */
[src*="z.alimama.com"],
[src*="a.alimama.cn"]
{display:none !important}
/* allyes */
[src*="allyes.cn"],
[src*="allyes.com"]
{display:none !important}
/* adsame.com */
a[href*="adsame.com"],
[src*="adsame.com"]
{display:none !important}
/* Google广告 */
[id*="google_ads_frame"],
[src*="www.google-analytics.com"],
[src*="static.googleadsserving.cn"],
[src*="partner.googleadservices.com"],
[src*="pagead2.googlesyndication.com"]
{display:none !important}
/* 远景 bbs.pcbeta.com */
iframe[src*="union.ijinshan.com"],
a[href*="js.50bang.org/?formType="],
[src^="./static/image/biz/"],
[src="http://cdn.pcbeta.img.inimc.com/static/image/pcbeta/wenzhang.jpg"],
[id^="ad_thread"],
.pg_forumdisplay #wp [id^="forum_rules_"],
[id^="nv_"] .focus,
#space .focus,
[id^="nv_"] [class^="wp a_"],
#baiduSpFrame,
#appxbanner
{display:none !important}
#banner8th
{height:0 !important}
/* 体坛网 titan24.com */
iframe[id^="ad"][src*="titan24.com"],
[id^="yigao_iframe_"],
.main .content .adera,
#right .rad,
a[href*="/ClickAd?aid="],
.topad,
.adv
{display:none !important}
/* 巨鲸音乐网 top100.cn */
#aspnetForm [style="margin:0 auto;width:1000px;height:100px;"],
#ad_l,
#ad_r,
#bottomAd,
.ads-absolute
{display:none !important}
/* 电影网 m1905.com */
[src^="http://afp.m1905.com/FrameWork/system/afp"],
#topad,
#body_ad img,
#contentbox .ad
{display:none !important}
/* tom.com */
#Tomleftfdad,
#tomad,
.tomadrow
{display:none !important}
/* 搜房网 soufun.com */
.RedStyle [class^="ad"],
.RedStyle [id^="FlashID"],
.RedStyle [id^="duilian_"],
.RedStyle [id^="king_"],
.RedStyle embed[src*="soufunimg.com"],
.RedStyle #afp_fa_video,
.RedStyle #_YOYI_SMALLBOX_123456,
.RedStyle .hotphoto0419,
.photo01 [id^="flashlayer"],
.topbanner,
.adtextlink,
#body .photo02,
#body .photo03,
.ad_headline01,
.ad_xfhot01,
.ad_xfhot02,
.ad_bbs01,
.ad_bbs02,
#ad_gold,
.top_ad,
.ad2,
.ad960x60top,
.ad960x60,
.ad960X60,
.ad650X60,
.ad300X60,
#tp_bar,
img[src*="imgd.soufun.com"][width="960"][height="60"],
.wrap object[width="960"][height="60"],
[_fckxhtmljob="1"],
[id^="dlpicleft"],
[id^="dlpicright"],
[id^="flashlayer"] [id^="FlashID"],
[id^="flashlayer"] [id^="div"],
[src*="soufun.com/adpolestar"],
a[href*="soufun.com/adpolestar"],
[style*="BACKGROUND: url(http://imgd.soufun.com"],
[title="关闭背景"],
[name^="adFrame_"]
{display:none !important}
.RedStyle{background:url(no.gif)!important}
/* it168.com */
[style="border:1px #b3d6f2 solid;padding:1px;width:976px;margin:8px auto 0px;"],
[id^="ADV_"]
{display:none !important}
/* 电脑之家 pchome.net */
.ad960,
.ad780,
#popWin
{display:none !important}
/* 硬派网 inpai.com.cn */
.adtxt01,
#lovexin2,
[src*="/inpai_ad/"]
{display:none !important}
/* 土豆 tudou.com */
#TUI_flashObj_1,
#adex_board,
.bannerad
{display:none !important}
/* csdn.net */
a[href*=".csdn.net/gmclick.php?"],
[id^="ITOP_AD_"],
.gg,
#tlbanner,
.banner_top1,
.banner_top2,
.banner_top3,
.leftad,
.rightad
{display:none !important}
/* 迅雷看看 xunlei.com */
#tipAds,
.adv_area,
.player .playad,
.banner-middle iframe[src*="xunlei.com"],
.banner-middle iframe[src*="taobao.com"],
.banner-middle iframe[src*="sandai.net"],
a[href*="click.cm.sandai.net/UClick?"],
.banner-middle [id*="randomDiv_"],
.adbox,
.boxad
{display:none !important}
/* 卡饭论坛 bbs.kafan.cn */
.header_gg,
#ad_text,
#ad_headerbanner,
.ad_footerbanner,
.ad_column,
.ad_textlink1,
.ad_textlink2,
[class^="ad_float_"]
{display:none !important}
/* 7gg.net */
iframe[src*="92gg.com/7gg"],
img[src$="7ggbanner.gif"],
#forumheader .channelinfo
{display:none !important}
/* bbs.macd.cn */
#advlist,
[src*="xc.macd.cn"]
{display:none !important}
/* 起点中文网 qidian.com */
a[href*="qidian.com/showavd.aspx?adid="],
iframe[src*="method=GetAd"],
[src*="qidian.com/svnad/"],
.show_ggpic_990X60,
.show_ggpic_770X60,
.RightAD,
#ctl00_MainZonePart_spanADFrame,
#aspnetForm #mainContent [class^="gg0"]
{display:none !important}
/* verycd.com */
iframe[src*="sp.vcimg.com"]
{display:none !important}
/* 央视 cntv.cn */
#bbspop,
.head_adv,
.ad_w960,
#iDNA_cou_left,
#iDNA_cou_right,
#idBox.lightbox,
embed[src*="/tongyong/ad/jshow"],
[id^="div-gpt-ad-"],
[src^="http://a.cntv.cn"],
[id^="fix_floater"]
{display:none !important}
/* 酷6 ku6.com */
a[href*="ku6.allyes.com"],
a[href*="ku6afp.allyes.com"],
#fvad_div,
.listAd,
iframe[src*="allyes.com"]
{display:none !important}
/* 优酷 youku.com */
[data*="static.atm.youku.com"],
[src*="static.atm.youku.com"]
{display:none !important}
/* 绿盟 xdowns.com */
iframe[src*="www.xdowns.com/gg/"],
#baidugg,
.co_content5 .co_content52
{display:none !important}
/* 绿色下载站 downg.com */
#greendown [class*=" ad-"],
#greendown [class^="ad-"],
#greendown [src*="/ggao/"]
{display:none !important}
/* 17173.com */
[id^="div_meiyi_ad1_tong"],
[id^="div_meiyi_ad1_shu"],
embed[flashvars*="sohu.ad-plus.cn"],
a[href*="sohu.ad-plus.cn"],
.ad-pn5
{display:none !important}
/* 泡泡网 pcpop.com */
a[href*="my.rashost.com/aff.php?aff="],
[src*="union.vancl.com/adpic.aspx?"],
[src*="ashow.pcpop.com"]
{display:none !important}
/* 搜狐 sohu.com */
[class="adA area p-ad"],
.adA,
#LIUMEITI2,
#AutoTopAd
{background:none !important}
iframe[src*="/ads/"],
iframe[src*="/adinfo/"],
#LIUMEITI,
#AdAction,
#TopAdLeft,
#TopAdRight,
#sogou_se_tgbar,
#ad_TOP,
#ad_A,
#ad_B,
#ad_C,
#ad_D,
#ad_E,
#ad_F,
#ad_G,
#ad_H,
#ad_M,
#ad_N,
#ad_O,
#ad_P,
#adList,
#div_ad,
#COUPLET,
#COUPLET2,
#BOOKTURN,
#adtopnews3rdbox,
.areaAdv,
.sogouService,
.content-box .lottery-box,
.ad950A,
.bigAd,
.logo-ad,
.phone_rss,
#FLOAT2,
.bodybg .adB,
.ad_fp,
.adTxt,
.ad230,
#TL25_SWF,
#cttbss0,
#cttbss1,
sohuadcode
{display:none !important}
/* 中关村 zol.com.cn */
#zolFloat,
.adSpace,
.word_ad,
.pic_ad,
.banner760_1,
.ri_ad,
.ad_in_content,
[id^="_AD"],
.bannerleft [id^="AD"],
.banner [id^="AD"],
[id^="rightAdDiv"],
[id^="_FocusAd"],
#top_tl_ad,
#AD1816,
#Float1265
{display:none !important}
/* 百度 baidu.com */
.user-info .down-mobile,
.mb-layout-bd.column4,
.mbox #toptip,
.ecom-ads-wrap,
.ec_pp_f,
.EC_mr15,
.adm-iframe,
.ad-index-left,
.ad-banner,
.ecom-ad,
.widget-ads,
.wgt-ads,
[src*="pos.baidu.com"],
[src*="cpro.baidu.com"],
[src*="eiv.baidu.com"],
[src*="cb.baidu.com"],
[src*="cbjs.baidu.com"],
[src*="drmcmm.baidu.com"],
[src*="hm.baidu.com"],
.area-top-ads,
.game_spread_thread,
#share_ad_info_panl,
#pb_adbanner,
#pauseAd,
#audioAd_res,
#right-ads,
#j_ten_years,
#ad1,
#ad2,
#center-top-ad,
#center-bottom-ad,
#ecomAdDiv,
#ec_im_container,
#frs_banner_ad,
#rightAd,
#aside_ad,
#wrapper .ecom,
#wrapper .EC_ppim,
#wrapper .EC_ppim2,
#second .ecom,
[src^="http://snippet.pos.baidu.com/bfp/snippetcacher.php?qn="],
[src^="http://pos.baidu.com/ecom"],
a[href*="baidu.com/baidu.php?"],
a[href="http://www.baidu.com/search/post_wap.html"],
a[href*="baidu.com/adrc.php?"]
{display:none !important}
/* 天空软件 skycn.com */
.ad1,
.ad2,
.ad3,
.ad4
{display:none !important}
/* 华军软件 newhua.com */
.ad_top,
.wide_ads,
.allsite .adt,
.allsite .adr,
[class^="ad_ritht_"],
[src*="newhua.com/adimg/"],
[src*="/newhuagg/"]
{display:none !important}
/* cnbeta.com */
iframe[onload^="BAIDU_SSP_renderFrame"],
#google_ads_frame1,
#google_ads_frame2,
#google_ads_frame3,
#google_image_div,
.mt5 .other_news,
.mt5 ins[id^="aswift_"],
.mt5 [id^="BAIDU_SSP"],
.mt5 [id^="iframe"],
.mt5 [href^="http://netease.im/?"],
[src="http://img.cnbeta.com/szpda300.gif"],
[href*="?cnbeta"],
[href*="?keyfrom=cnbeta"],
[id^="ad-w-"],
[id^="f21ac82b21eeb7322631b"],
.cbv .R_Cont01,
.Ad_Cont,
.adsbygoogle,
#cproIframe1Wrap,
#cproIframe1Wrap_placeholder,
#aswift_0_anchor,
#googleAd_afc
{display:none !important}
.cb_box .article_content a
{color:#00f !important}
/* 驱动之家 mydrivers.com */
[id^="ad_"][id*="_60_"],
[id^="ad_"][id*="_80_"],
[id^="ad_"][id*="_90_"],
[id^="ad_"][id*="_120_"],
[id^="ad_"][id*="_200_"],
[src^="http://images.mydrivers.com"][src$="468x60.swf"],
iframe[src*="11.mydrivers.com"],
[src="http://images.mydrivers.com/2013/12/liebaoqinglidashi.jpg"],
.l-gg1,
.l-gg2,
.l-gg3,
.r-gg,
#sidebar3[width="100"]
{display:none !important}
#postForm textarea{background:url(no.gif) !important}
/* 太平洋电脑网 pconline.com.cn */
#Jbest,
#PcPoPmarket,
object[id^="ad"],
.ivyTL1,
.ivy-tonglan,
.adv_top,
[src*="imgad0.pconline.com.cn"],
[src*="imgad0.3conline.com"],
[src*="imgad1.3conline.com"]
{display:none !important}
/* 网易 163.com */
[src*="/kaolaad/"],
[onclick="dwBox.getURL()"],
#gt_float_ad,
#gt_float_ad1,
#gt_float_ad2,
#xtClick,
#xtClickL,
#xtClickR,
#xtReplayFrameL,
#xtReplayFrameR,
#dwMainDiv,
#dwCloseBtn,
#fcClick,
#fcMovieFrame,
#fcReplayFrameL,
#fcReplayFrameR,
#dllbFrame,
#dlrbFrame,
#gdtldSwfFrame,
#cfqtzClick1,
#cfqtzSwf1,
#cfqtzSwf2,
.ad-h100,
.ad-h337,
.ad-area,
.tab-ad,
.ad-sub,
.ad-main,
.top-gg-area,
.post_adtop_main,
.ad_hover_href,
#tcldivtf1,
#tcldivtf2,
#ddivtf1,
.ggarea,
.gg-g24,
.gg_reset,
.gg360,
.gg560,
.colR .ggR,
#ead_ad_14,
[style*="http://img2.126.net/ntesrich/auto/sc/player2.jpg"],
iframe[src*="img1.126.net"],
[id^="i2pd_"],
[id^="mvdiv_"],
[src^="http://g.163.com"],
a[href^="http://rd.da.netease.com/redirect?t="],
a[href^="http://g.163.com"]
{display:none !important}
/* 新浪 sina.com.cn */
[class^="sinaads-"],
[src*="/adstonglan/"],
[src^="http://d"][src*=".sina.com.cn"],
[data^="http://d"][data*=".sina.com.cn"],
.sinaad-toolkit-box,
.sinaads,
.top-ads,
.palm01-ad,
.part-a-l .mod-01,
.bodyN #top_bar,
.topAD,
.topads,
.adBlock,
.AD355125,
.ad_banner,
.advertisement,
#hzh_div,
#ad_47200,
#FullScreenWrap,
#CoupletMediaWrap,
#divResNewsBottom,
#left_focus_ad,
.ads_120x120_1,
.blkTopGoogleSearch,
.RtTxtAD,
.adNone,
.adNode,
.ATopTxtT,
.ATopTxtB,
.blk_xlzt,
#SteamMediaWrap,
#weibo_ad,
[id^="bigFloatFlash"],
[id^="smallFoloatFlash"],
[id^="i2AS_"],
[id^="_AdSame_"],
[id^="ad_arti"],
[src*="pfp.sina.com.cn/iframe"],
[src="http://news.sina.com.cn/iframe/content2011/bottom/baidu_blue.html"],
[src*="sina.com.cn/litong/zhitou/sinaads"],
ins.sinaere,
a[href*="/adfclick?"],
[id^="crazy_crazy_"],
.sina_zhitou
{display:none !important}
/* 凤凰网 ifeng.com */
#topBg [class^="ad0"],
#IfengWindowPlayerIdSmall,
#IfengWindowPlayerIdBig,
#optimusPrimeContentId,
.games_right_side,
#imgAdContentLeft,
#leftCoupletId,
#rightCoupletId,
.ad [id^="padhide_"],
.ad_01,
.gg298,
.right .label_3,
.right .adR01,
.Avt01,
.adv01,
.adBox,
a[href^="http://bc.ifeng.com/main/c?db=ifeng"],
.pic336 #padhide_524,
.pic600 #padhide_1950,
.left .adarea,
[src^="http://www.taobao.com/go/act/sale/"],
[src^="http://x.jd.com/exsites?spread_type=2&ad_ids="],
[src^="http://img.ifeng.com/test/floatmedia/floatLayer"],
[class^="adFloat"],
#afp_videofm_video,
#ifengAehovering_small,
#crazy_maxdiv,
#crazy_mindiv,
.block_ad,
#admod1,
#jdAdBox,
#icast_pip,
#adv_left,
#adv_right,
#topBj .areaAd,
#topBj .pic660,
#topBj #ad250,
#topBj .ad1000,
#topBj .ad665,
#topBj #crazy_maxdiv,
#topBj #crazy_mindiv,
#topBj [id*="loatFlash"],
#topBj [id^="ifengAeCrimp_"],
#topBj #VideoPlayer,
#final_head_ad,
#adfloatflash,
#floatadtarget,
#flashad,
#box_ad03,
#py-ad-box,
#padhide_524,
#padhide_2130,
#padhide_527,
.ad1000,
.ad01,
.ad08,
.ad200,
.ad200-3,
.ad200-4,
.ad300,
.adlist1,
.adlist2,
.adList2,
.adList,
.adList3,
.ad_text,
.ad_pic,
.ad_google,
.maidunbox,
.adbox02,
.adbox03,
iframe[id^="allyes_show_ads_"],
iframe[src*="_ad_"],
iframe[src*="/recommend/yintai/"],
iframe[src*="ifeng.com/tres/recommend/taobao"],
iframe[src*="strip.taobaocdn.com"],
a[href*="eben.cn/ad_order.php?"],
a[href*="&AdID="],
[id^="_iCast"],
[id^="ifaDiv"],
[id^="tanxssp-outer-conmm_"],
[id^="ifengAeCrimp_"],
[id^="iCast2_container_div_"],
[id^="i2PT_"],
[id^="flash_outer_"][id*="_flash_click_"],
[id^="couplet"][id$="_left"],
[id^="couplet"][id$="_right"],
[id^="adv_left"],
#all_content_qiyefuwu_right,
#embed_hzh_div,
#StreamMediaWrap
{display:none !important}
/* 腾讯网 qq.com */
[style*="z-index: 214748364"],
[data^="http://adsrich.qq.com"],
[src^="http://ads"][src*=".qq.com"],
#topAd,
#tg_qq,
#photo_ad,
#lottery_ad,
#ent_ad,
#PL_adT,
#PL_ad1,
#PL_ad2,
#abroad_ad,
#r_couplet_container_gaoqing_couplet,
#YL_curtain_ad,
.ad_1000_90,
.ad-box,
.mod_ads,
.fn_gdtads,
.phone_ad_960,
.text-ad,
.mian-ad,
.health .ad,
.adver,
.sidBoxNoborder,
.nikeAd01,
.play_bg_ads,
.adLeft,
.adRight,
.sideAd,
.btmAd,
.proArea #proAd,
.news_ad_box,
.AdTop-Article-QQ,
.qiye-Article-QQ,
.AdBox-Article-QQ,
.business-Article-QQ,
.fbad-Article-QQ,
.guanggao,
.guanggao0520,
.kjad2,
.mod-snsmarketing-slot-external,
#Article-QQ .followall_mod,
#zs_news embed[id="flash_focus"],
[src*="/images/ads/"],
[src$="/images/leftbottom.png"],
[id^="couplet_auto_gen_"],
a[href*="qq.com/adsclick?"],
[class$="_qq_com"]
{display:none !important}
/* 115网盘 u.115.com */
.make-honor,
.main [class^="ban-"],
iframe[id^="frame_tjj_"]
{display:none !important}
/* 天涯 tianya.cn */
[id*="_AD_"],
#couplet_left_adsp_banner_couplet,
#couplet_right_adsp_banner_couplet,
#adsp_list_left_floatDiv,
#adsp_content_top_banner,
#adsp_content_banner_2,
#adsp_list_left_small_floatDiv,
#adsp_content_left_div,
#bottom_gohome,
#float_right_parent_div,
.focus_ad,
.ad_w_box,
.adarea-l,
.focus_adarea,
#spaceBrandAd,
#q_topbanner_950_90,
#q_backbanner_950_90,
#couplet_left_NULL,
#couplet_right_NULL,
#tianyaBrandSpan1,
#ty_msg_mod,
#bottomnav_myservice_suning,
a[href*="tianya.cn/count?t="],
[onclick*="tianya.cn/count?t="],
[src*="801.tianyaui.com"],
[src*="801.tianya.cn"]
{display:none !important}
/* 中国站长站 chinaz.com */
.ad-text,
iframe[src*="images.chinaz.com"],
iframe[src*="www.chinaz.com/Union"]
{display:none !important}
/* eNet硅谷动力 enet.com.cn */
embed[id="Advertisement"],
.advlist
{display:none !important}
/* 126邮箱 126.com */
[id*="_adDiv"],
[src^="http://mimg.127.net/m/smartad/"],
[src^="http://mimg.127.net/ggimg/"],
[href^="http://adpmt.mail.163.com/beacon/redirect.htm?page="],
.g-dxgg
{display:none !important}
/* 新华网 news.cn */
iframe[src="http://www.xinhuanet.com/xldb_iframe.htm"],
iframe[src*="xinhuanet.com/classad/"],
iframe[src*="ad_iframe"],
[src*="/ad/"]
{display:none !important}
/* 中华网 china.com */
.adclass,
.homeheadAT,
.fullClmAT,
#googleWideAds,
[id^="AC_CR"],
[src*="adtv_china.swf"]
{display:none !important}
/* 铁血网 tiexue.net */
.ad.s_960x157,
#adinfoList,
#AdTopBarLeft,
#AdTopBarRight,
#AdTopBarTop,
#AdTopBarBot,
[id^="Baidu_WWW_TopAD"],
[id^="Baidu_Mil_TopAD"],
[id^="Baidu_BBSPostNormalV3ContentTopAD"],
#forbaidustatisticmil_244,
[id^="baidu_clb_slot_"],
#div11_Cow_cn,
iframe[src*="itiexue.net/proxy.htm?id="]
{display:none !important}
/* 西陆战友社区 xilu.com */
span[id="SuiShi"],
.xl_ad,
.bbs_topad,
.ad0116,
.ad1230,
embed[src*="content.xilu.com"],
iframe[src*="code.37cs.com"],
[class^="page_adbox"],
a[href$=".info/?id=xl"],
iframe[src*="img.alimama.cn"],
iframe[src="http://www.xilu.com/iframe/pagepic/"]
{display:none !important}
/* 盛大 sdo.com */
a[href*="adrs.sdo.com"],
[id^="bambookad"],
.ibw_container
{display:none !important}
/* 天极 yesky.com */
.adtext,
.ad950,
.ad320,
.ad250,
#ad3,
[class^="adv_yesky"]
{display:none !important}
/* 中国新闻网 chinanews.com */
#ngg,
.gghzh,
.tlgg,
[src*="chinanews.com/gg/"],
iframe[src*="chinanews.com/ad"]
{display:none !important}
/* MSN中文网 cn.msn.com */
[src="http://css.cn.msn.com/banner_ad.html"],
[src="http://css.cn.msn.com/right_ad.htm"],
[src*="fun.ynet.com"],
[src*="show.mediav.com/s?"],
[class^="banner_ad_"],
.banNSch,
.ad_1,
.ad_2,
.ad_1_bottom,
#bigFloatFlash4222,
#smallFoloatFlash4222
{display:none !important}
/* 新民网 xinmin.cn */
[src^="http://iads.xinmin.cn"]
{display:none !important}
/* 电影天堂 dygod.net */
[src="http://www.xie51.com/g/b.jpg"],
iframe[src*="/gg/"],
iframe[src*="37cs.com"],
iframe[src*="?aid="],
#ShowQQ #ImgLayer
{display:none !important}
/* 非凡软件站 crsky.com */
#crsky .banner-leader-index,
#crsky .banner-leader,
[src*="/ggao/"]
{display:none !important}
/* 必应 cn.bing.com */
[class^="sb_ads"],
[src*="www.content4ads.com/live.php?url="],
a[href*="www.bingpk.com/?adsrc="]
{display:none !important}
/* 麦库 mknote.com */
[src="http://note.sdo-static.com/c/images/0506index/publicad.png"]
{display:none !important}
/* 下载吧 xiazaiba.com */
#content #ad,
.ads_34,
.adArea2,
.w960 aside,
[class="pc-soft-tab-content s-bd"],
[src*="/uploadfiles/ads/"],
[src*="/uploadfiles/xert_img/"]
{display:none !important}
/* google.com */
a[href^="http://da.feedsportal.com/"],
#rhs #rhs_block,
#bottomads,
#taw #tads
{display:none !important}
/* 爱奇艺 iqiyi.com */
[id^="xc"][id*="ALYSRAND"],
[src*="/pageer.swf?"],
a[href^="http://afp.qiyi.com/main/c?"],
a[id="clicka"],
.crossAd,
.index_rt_adv,
.rightAdv,
.ad-wrapper,
[id^="flash10000000000"],
#leftad,
#adflash,
#floatLayerFavDiv
{display:none !important}
/* 榕树下 rongshuxia.com */
a[href^="http://ad.rongshuxia.com/r.php?"]
{display:none !important}
/* 游民星空 gamersky.com */
embed[src^="http://image.gamersky.com/img/"],
.topbod .topbodr,
.topadbod,
#adsFloating,
#closeFloating
{display:none !important}
/* 奥一网 oeeee.com */
[id^="flow-ad-"],
.bbs-ad,
#header_left_top .header-810,
#makewing1,
#makewing2,
.index-gd810,
form #ljgg,
form [class^="textad-"],
form [class^="ad-"]
{display:none !important}
/* 多特软件站 duote.com */
.d_main #ad,
.d_main .d_gg
{display:none !important}
/* 中国天气网 weather.com.cn */
[class^="adposter_"]
{display:none !important}
/* gmail.com */
.nH .Zs,
.adC .nH .aoh
{display:none !important}
/* 人人影视 yyets.com */
.ad_dow,
.ad_details,
.AreaLL .tb-box,
iframe[src*="www.uctrac.com"],
iframe[src*="show.g.mediav.com"],
#cow_float_2
{display:none !important}
/* 猫扑 mop.com */
[class^="adarea_"],
[src^="http://pub.mop.com/widget.jsp?bId="]
{display:none !important}
/* 豆丁网 docin.com */
#doc-playerAd
{display:none !important}
/* 联合早报 zaobao.com */
#FLASH_AD
{display:none !important}
/* 盘古搜索 panguso.com */
.rightguanggao
{display:none !important}
/* 搜搜 soso.com */
.ad_zdq,
#side #rads,
[ss_c^="ad_"]
{display:none !important}
/* 搜狗 sogou.com */
.picad,
.advlink,
#sogou_ie_right,
#bdfs0,
#wrapper #main #promotion_adv_container,
#wrapper #main .sponsored
{display:none !important}
/* 有道 youdao.com */
#resc #spTop,
#ext #splink,
[class^="googleAds"]
{display:none !important}
/* 印象笔记 yinxiang.com */
#gwt-debug-ad
{display:none !important}
/* 人民网 people.com.cn */
.top_ad_list,
[id^="yodaoad"],
[id^="CoupletDiv"],
[src^="http://www.people.com.cn/adv/"]
{display:none !important}
/* 汽车之家 autohome.com.cn */
[id^="ad_fbanner_"],
[id^="ad_fbutton_"],
#ad_990_tm,
.advbox,
.advarticle,
.article_adv,
.advbox1,
.advbox3,
.md_advbox,
.hotcar_adv
{display:none !important}
/* 去哪儿 qunar.com */
a[href*="AdID="],
[name="flashad"]
{display:none !important}
/* 东方财富网 eastmoney.com */
.lyad,
iframe[src^="http://same.eastmoney.com/"],
iframe[src="js/uma.html"]
{display:none !important}
/* 即刻搜索 jike.com */
.adv_show_item,
.adBgWhite
{display:none !important}
/* 雅虎 yahoo.com */
[id^="tanx_"],
.txt_ad1,
.hd_ad,
.ad_box,
.tao_a_d_h,
.v_tab_a_d,
.a_d_lrc
{display:none !important}
/* 腾讯微博 t.qq.com */
#homeBannerNew
{display:none !important}
/* 360搜索 so.com */
[src*="material.mediav.com"],
#mvclicka,
#so_kw-ad,
#m-spread-left,
#m-spread-right
{display:none !important}
/* 58同城 58.com */
[id*="_gg_ad"],
[id*="google_ad"],
[id^="direct_ad_"],
.detailBottomAd,
.baidu_cproad,
#sideAD,
#googlead_list
{display:none !important}
/* 爱卡汽车 xcar.com.cn */
#yad_2244,
.adbox980,
a[href*="push/adcick.php?"]
{display:none !important}
/* 智联招聘 zhaopin.com */
.adsBox
{display:none !important}
/* 路透中文网 cn.reuters.com */
[id^="advert_"]
{display:none !important}
/* 潇湘书院 xxsy.net */
[id^="rightad_"],
[id^="infoleftad_"],
[id^="info_top_adv_"],
iframe[src^="http://images.xxsy.net/sygg/"]
{display:none !important}
/* 豆瓣 douban.com */
a[href*="douban.com/redirect/?ad="]
{display:none !important}
/* 前程无忧 51job.com */
#SlipLay,
#ad_top img,
#ad_left,
#ad_right,
#ad_a,
#ad_b,
#ad_c,
#ad_d,
#adTonglan,
.firstscreen .flashbanner,
.lastscreen .ad .flashid,
.weifantang-wrap,
.ad_double
{display:none !important}
/* 携程旅行网 ctrip.com */
#googlead,
#gg_bottom,
#PanelAdButton,
.adv_wrap,
.ads_bottom,
.ad_bottom
{display:none !important}
/* 威锋网 weiphone.com */
.store_products_wrap .store_products,
[class^="wea_d_"],
[src^="http://aoodoo.weiphone.com/view.php?"],
[src^="http://ubmcmm.baidustatic.com/"],
[href^="http://aoodoo.weiphone.com/click.php?n="]
{display:none !important}
/* 太平洋汽车网 pcauto.com.cn */
iframe[src*="?adid="]
{display:none !important}
/* csdn.net */
.ad_news,
.ad_960,
.ad_190,
.ad_760,
.ad_300_250
{display:none !important}
/* inoreader.com */
.leaderboard_ad,
.ad_title
{display:none !important}
/* discuz论坛 */
.tl th a:visited, .tl td.fn a:visited
{color:#999 !important}